<ion-view view-title="Assets" xmlns="http://www.w3.org/1999/html">
  <ion-nav-buttons side="right">
    <button class="button button-clear text-white" style="color: white;" >
      Filter
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="left">
    <a class="button button-icon icon ion-ios-location" href="#/tab/map"></a>
  </ion-nav-buttons>
  <ion-content>
    <div class="side-bar items-list">
      <div>
        <span class="param">Truck 40</span>
        <span>
          <div class="col-md-12 content.item-mini wide text-center">
            <div class="item-container">
              <img ng-src="img/truck.png", width="75%">
            </div>
          </div>
        </span>
      </div>
      <div>
        <span class="param">Truck 41</span>
        <span>
          <div class="col-md-12 content.item-mini wide text-center">
            <div class="item-container">
              <img ng-src="img/truck.png", width="75%">
            </div>
          </div>
        </span>
      </div>
      <div>
        <span class="param">Truck 44</span>
        <span>
          <div class="col-md-12 content.item-mini wide text-center">
            <div class="item-container">
              <img ng-src="img/truck.png", width="75%">
            </div>
          </div>
        </span>
      </div>
      <div>
        <span class="param">Truck 32</span>
        <span>
          <div class="col-md-12 content.item-mini wide text-center">
            <div class="item-container">
              <img ng-src="img/truck.png", width="75%">
            </div>
          </div>
        </span>
      </div>
      <div>
        <span class="param">Truck 40</span>
        <span>
          <div class="col-md-12 content.item-mini wide text-center">
            <div class="item-container">
              <img ng-src="img/truck.png", width="75%">
            </div>
          </div>
        </span>
      </div>
      <div>
        <span class="param">Truck 42</span>
        <span>
          <div class="col-md-12 content.item-mini wide text-center">
            <div class="item-container">
              <img ng-src="img/truck.png", width="75%">
            </div>
          </div>
        </span>
      </div>
      <div>
        <span class="param">Truck 47</span>
        <span>
          <div class="col-md-12 content.item-mini wide text-center">
            <div class="item-container">
              <img ng-src="img/truck.png", width="75%">
            </div>
          </div>
        </span>
      </div>
      <div>
        <span class="param">Truck 39</span>
        <span>
          <div class="col-md-12 content.item-mini wide text-center">
            <div class="item-container">
              <img ng-src="img/truck.png", width="75%">
            </div>
          </div>
        </span>
      </div>
      <div>
        <span class="param">Nemco-09</span>
        <span>
          <div class="col-md-12 content.item-mini wide text-center">
            <div class="item-container">
              <img ng-src="img/truck.png", width="75%">
            </div>
          </div>
        </span>
      </div>
    </div>
  </ion-content>
</ion-view>
