<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="Assets" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Alerts" href="#/tab/chats">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Dashboard" href="#/tab/dashboard">
    <ion-nav-view name="tab-dashboard"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Reports" href="#/tab/reports">
    <ion-nav-view name="tab-reports"></ion-nav-view>
  </ion-tab>

</ion-tabs>
